<ion-view hide-menu-button="true">
    <ion-nav-title>Centers</ion-nav-title>
 
    <ion-content class="">
    <div class=" ">
      <div class="  w100 txt-center">
                <select class="center-select-ddl mt10" name="" id="" ng-model="country" ng-change="checkNLoadAdd(country, 'country')">
                    <option value="">Select Country</option> 
                    <option ng-repeat="location in locations" ng-if="location.parent == 1" ng-value="location.cat_ID">{{location.name}}</option> 
                </select>
            </div>
            <div class="  w100 txt-center">
                <select class="center-select-ddl" name="" id="" ng-model="city" ng-change="checkNLoadAdd(city, 'city')">
                    <option value="">Select City</option>
                    <option ng-repeat="cities in locations" ng-value="cities.cat_ID" ng-if="country && cities.parent == country" >
                    {{cities.name}} </option>
                </select>
           
            </div>
            <div class="  w100 txt-center"> 
                <select class="center-select-ddl" name="" ng-model="location" id="" ng-change="checkNLoadAdd(location, 'location')">
                    <option value="">Select Location</option>
                    <option ng-repeat="town in locations" ng-value="town.cat_ID" ng-if="country && city && town.parent == city">
                    {{town.name}}
                </select>
            </div>
</div>
        <div class="title-wrapper">

    <h4>
 AYUSHAKTI AYURVED CENTER: 
 </h4>
 </div>
      <div class="card" ng-repeat="center in centers">
  <div class="item item-text-wrap">
 <span ng-bind-html="center.content"></span>
  </div>
</div> 
    </ion-content>
</ion-view> 
  