<ion-view cache-view="false" hide-menu-button="true">
    <ion-nav-title>Centers</ion-nav-title>
 
    <ion-content class="">
    <div class=" ">
      <div class="  w100 txt-center">
                <select class="center-select-ddl" name="" id="">
                    <option value="">Select Country</option>
                    <option value="">India</option>
                </select>
            </div>
            <div class="  w100 txt-center">
                <select class="center-select-ddl" name="" id="">
                    <option value="">Select City</option>
                    <option value="">Mumbai</option>
                </select>
            </div>
            <div class="  w100 txt-center">
                <select class="center-select-ddl" name="" id="">
                    <option value="">Select Location</option>
                    <option value="">Ghatkoper</option>
                </select>
            </div>
</div>
        <div class="title-wrapper">

    <h4>
 AYUSHAKTI AYURVED CENTER: 
 </h4>
 </div>
      <div class="card">
  <div class="item item-text-wrap">
     Winona Bldg., Unit No-2, 
 4th Floor, 15a/7 Erandwane, <br>
 Behind HP Petrol Pump 
 Karve Road,  Pune- 411004  
 <p>contact no 020-25423344/45</p> 
 <p>Hemant Bhambare-09011564123</p>  
  <p>Email : pune@ayushakti.com</p>
  </div>
</div> <div class="card">
  <div class="item item-text-wrap">
     Winona Bldg., Unit No-2, 
 4th Floor, 15a/7 Erandwane, <br>
 Behind HP Petrol Pump 
 Karve Road,  Pune- 411004  
 <p>contact no 020-25423344/45</p> 
 <p>Hemant Bhambare-09011564123</p>  
  <p>Email : pune@ayushakti.com</p>
  </div>
</div> <div class="card">
  <div class="item item-text-wrap">
     Winona Bldg., Unit No-2, 
 4th Floor, 15a/7 Erandwane, <br>
 Behind HP Petrol Pump 
 Karve Road,  Pune- 411004  
 <p>contact no 020-25423344/45</p> 
 <p>Hemant Bhambare-09011564123</p>  
  <p>Email : pune@ayushakti.com</p>
  </div>
</div>
    </ion-content>
</ion-view>
 AYUSHAKTI AYURVED CENTER: 
  