<ion-view  cache-view="false" hide-menu-button="true" >
<ion-nav-title>Services</ion-nav-title>
  <ion-content class=""> 
        
 <div class="list">

    <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quasi amet, soluta, non facilis est ullam maxime odio vitae cupiditate.</p>
    </a>
    <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente soluta repellendus, illo iusto optio enim dolorum unde ipsum accusantium saepe!</p>
    </a>   <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quisquam iste repellat voluptates possimus provident, ut voluptate nobis laborum eligendi.</p>
    </a>   <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 4</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam architecto delectus, blanditiis. Adipisci doloribus, earum rem quisquam enim vero!</p>
    </a>   <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 5</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi perferendis, maiores suscipit blanditiis nam, eius facere repudiandae deleniti reiciendis possimus.</p>
    </a>
  <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 6</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero possimus nam quo doloremque optio ex numquam, fugiat veniam pariatur, quos.</p>
    </a>
      <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 7</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam alias assumenda amet corporis illum odio soluta, fugiat harum ipsum ex.</p>
    </a>
      <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 8</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam est, qui commodi maxime. Vero beatae saepe nulla praesentium eaque omnis.</p>
    </a>
      <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 9</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, eaque, pariatur. Pariatur laboriosam minima, unde modi. Vel repellat cupiditate, ipsum.</p>
    </a>
      <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 10</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores officiis quaerat error aliquid reiciendis fugiat dolorem atque ipsam ut. Autem?</p>
    </a>
      <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 11</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora sapiente reprehenderit obcaecati quis quia deleniti dignissimos, fugiat maxime atque.</p>
    </a>
      <a ui-sref="app.pulse-consultation" class="item " href="#"> 
      <h2>Product 12</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nemo velit officia in dolore iste sequi alias impedit, modi. Ab.</p>
    </a>
</div>
  </ion-content>
</ion-view>
