<ion-view  cache-view="false" hide-menu-button="true" >
<ion-nav-title>Hair Problems </ion-nav-title>  
  <ion-content>  
   
<div class="list default-item">

  <div class="item item-divider">
    Diet
  </div>

  <a class="item" ui-sref="app.package-info">
    Diet 1
  </a>
  <a class="item" ui-sref="app.package-info">
    Diet 2
  </a>
  <a class="item" ui-sref="app.package-info">
    Diet 3
  </a>
  <div class="item item-divider">
    Home Remedies
  </div>

  <a class="item" ui-sref="app.package-info">
    Remedies 1
  </a>
  <a class="item" ui-sref="app.package-info">
    Remedies 2
  </a>
  <a class="item" ui-sref="app.package-info">
    Remedies 3
  </a>
  <div class="item item-divider">
    Lifestyle
  </div>

  <a class="item" ui-sref="app.package-info">
    Lifestyle Tip 1
  </a>
  <a class="item" ui-sref="app.package-info">
    Lifestyle Tip 2
  </a>
  <a class="item" ui-sref="app.package-info">
    Lifestyle Tip 3
  </a>
 
</div>
  </ion-content>
</ion-view>
