<ion-view    hide-menu-button="true" >
<ion-nav-title>Diseases</ion-nav-title>
<ion-header-bar class="bar bar-subheader item-input-inset bar-balanced">
        <label class="item-input-wrapper custom-input-warpper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchPacakge" autocorrect="off" >
            <button class="button button-clear ayu-primary-c" ng-click="searchPacakge = ''">X</button>
        </label> 
</ion-header-bar>
  <ion-content remove-shadow>  
<div class="list">

  <a ui-sref="app.treatment-packages" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Arthritis
  </a>
  <a ui-sref="app.treatment-packages" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Cough, Cold, Breathlessness &amp; Allergies
  </a>
  <a ui-sref="app.treatment-packages" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Diabetes
  </a>
  <a ui-sref="app.treatment-packages" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Hair Problems
  </a>
  <a ui-sref="app.treatment-packages" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Infertility
  </a>
  <a ui-sref="app.treatment-packages" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Asthma
  </a>
  <a ui-sref="app.treatment-packages" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Skin Problems
  </a>
  <a ui-sref="app.treatment-packages" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Child Development
  </a>
  <a ui-sref="app.treatment-packages" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Others
  </a>

 

</div>
  </ion-content>
</ion-view>
