<ion-view  cache-view="false" hide-menu-button="true" >
<ion-nav-title>Home</ion-nav-title>
  <ion-content class="home-bg bg-css" has-bouncing="false">
     <section class=" ">
     	<div class="row  mb10">
			<div class="col txt-center block-wrapper">
				<div class="icon-wrapper">
					<i class="circle-icon icon ion-android-people"></i>
				</div>
				<div class="title-wrapper">
					About
				</div>
			</div>
			<div class="col txt-center block-wrapper">
				<div class="icon-wrapper">
					<i class="circle-icon icon ion-android-people"></i>
				</div>
				<div class="title-wrapper">
					Home
				</div>
			</div>
			<div class="col txt-center block-wrapper">
				<div class="icon-wrapper">
					<i class="circle-icon icon ion-android-people"></i>
				</div>
				<div class="title-wrapper">
					Contact
				</div>
			</div>
     	</div>
     	<div class="row">
			<div class="col txt-center block-wrapper">
				<div class="icon-wrapper">
					<i class="circle-icon icon ion-android-people"></i>
				</div>
				<div class="title-wrapper">
					Career
				</div>
			</div>
			<div class="col txt-center block-wrapper">
				<div class="icon-wrapper">
					<i class="circle-icon icon ion-android-people"></i>
				</div>
				<div class="title-wrapper">
					Ayurved
				</div>
			</div>
			<div class="col txt-center block-wrapper">
				<div class="icon-wrapper">
					<i class="circle-icon icon ion-android-people"></i>
				</div>
				<div class="title-wrapper">
					Products
				</div>
			</div>
     	</div>
     </section>
  </ion-content>
</ion-view>
