<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced ayu-primary">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
       <ion-header-bar class="expanded bar bar-header disable-user-behavior">
            <img src="img/logo.png" class="avatar custom-avatar">
            <div class="menu-bottom">
                Welcome!
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header ">
            <ion-list>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.home">
                    Home
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.services">
                    Services
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.bookAppointment">
                    Book an Appointment
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.centers">
                    Healthcare Centers
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.diseases">
                    Diseases Information
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.homeRemedy">
                    Home Remedies
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.testimonials">
                    Testimonials
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.updates">
                    Updates
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.about">
                    About
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.newsletter">
                    Newsletter
                </ion-item>
                <ion-item nav-clear menu-close class="no-border" ui-sref="app.contact-us">
                    Contact Us
                </ion-item>  
                
            </ion-list>
        </ion-content>
        <ion-footer-bar align-title="left" class="bar-balanced">
 <div class="col txt-center">
  <a  class="item item-icon-right" role="link" ng-click="openLink('https://www.facebook.com/Ayushakti', $event)" target="_blank">
    <i class="icon ion-social-facebook fs16 social-icon"></i>
    </a>
  </div>
 <div class="col txt-center">
  <a  class="item item-icon-right" role="link" ng-click="openLink('https://twitter.com/ayushakti_ind', $event)" target="_blank">
    <i class="icon ion-social-twitter fs16 social-icon"></i>
    </a>
  </div>
 
 <div class="col txt-center">
  <a  class="item item-icon-right" role="link" ng-click="openLink('https://www.youtube.com/user/AyushaktiTV', $event)" target="_blank">
    <i class="icon ion-social-youtube fs16 social-icon"></i>
    </a>
  </div>
</ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>
