<ion-view   hide-menu-button="true" >
<ion-nav-title>Newsletter Subscription</ion-nav-title>
  <ion-content ti-fade-in-nav-bar-on-scroll fade-to-rgb="53,112,77" state-name="app.newsletter" has-bouncing="false"> 
     <div class="cover-img-wrap">
        <img ng-src="img/contact.jpg" class="cover-img w100 height220">
      </div>
      <div class="padding">
        Subscribe to our newsletter to get the latest scoop right to your inbox.
      </div>
         <form id="contact-form" name="contactForm" ng-submit="newsLetterSubscribe(newsletter)">
            <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name*" required ng-model="newsletter.fName">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name*" required ng-model="newsletter.lName">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="Email*" required ng-model="newsletter.email">
  </label> 
</div>
            <div class="padding-left padding-right">
                <button class="button button-block button-balanced" type="submit" ng-disabled="!(newsletter.email && newsletter.lName && newsletter.fName)">
                    Subscribe
                </button>
            </div>
        </form>
  </ion-content>
</ion-view>
