<ion-view hide-menu-button="true" >
<ion-nav-title>Services</ion-nav-title>
  <ion-content ti-fade-in-nav-bar-on-scroll fade-to-rgb="53,112,77" state-name="app.services" has-bouncing="false">  
   <div class="cover-img-wrap">
        <img ng-src="img/consultation-picture1.jpg" class="cover-img w100 height220">
      </div>
<div class="list">

  <a ui-sref="app.common-text-page({id: 34})" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Pulse Consultation
  </a>

  <a ui-sref="app.common-text-page({id: 37})" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
   Swadshakti
  </a>

  <a ui-sref="app.common-text-page({id: 56})" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
     Detoxification Treatments
  </a>

  <a ui-sref="app.common-text-page({id: 40})" class="item item-icon-right">
    <i class="icon ion-chevron-right fs16"></i>
    MARMA
  </a>

</div>
  </ion-content>
</ion-view>
