<ion-view  cache-view="false" hide-menu-button="true" >
<ion-nav-title>Services</ion-nav-title>
  <ion-content class="">  
<div class="list">

  <a ui-sref="app.pulse-consultation" class="item item-icon-right">
    <i class="icon ion-chevron-right"></i>
     Pulse Consultation
  </a>

  <a href="" class="item item-icon-right">
    <i class="icon ion-chevron-right"></i>
   Swadshakti
  </a>

  <a ui-sref="app.detox-package" class="item item-icon-right">
    <i class="icon ion-chevron-right"></i>
     Detoxification Treatments
  </a>

  <a href="" class="item item-icon-right">
    <i class="icon ion-chevron-right"></i>
    MARMA
  </a>

</div>
  </ion-content>
</ion-view>
