<ion-view  cache-view="false" hide-menu-button="true" >
<ion-nav-title>Package for Diabetes</ion-nav-title>
  <ion-content class=""> 
    
       <div class="padding">
        
      <div class="text-wrapper">
        <div class="row home-title">
                <div >
                    <h4 class="section-title"> About Diabetes</h4>
               </div>
               </div>
       <p class="justify"> It is the first process that you need to go through when you come for an appointment at any Ayushakti Ayurved Health Center world over. Pulse reading helps to understand two things firstly what is happening in your Body, Mind, Emotions and life. It also helps to know how your Body, Mind, Emotions and Life are working. </p>

<p class="justify">The Vaidya lightly touches your wrist to feel the combination of 360 possible subtle pulses within your body. To the vaidya, the pulse is a subtle language that the adept practitioner learns to “read.” These 360 subtle variations of the pulse are indicators to the underlying physiological imbalances that can cause acute and chronic disease. As the vaidya reads the pulse, he or she is able to ascertain what is happening in your body, mind, emotions and spirit. Although the science of “reading” the pulse in this way is still not well known in many countries, trained and specialized practitioners have been successfully practicing this technique for many years. </p>
<p class="justify">After reading the pulse in a matter of seconds, the Ayushakti vaidya will share with his or her findings and discuss an appropriate course of treatment with you. Depending on the nature of your health or condition, your Ayushakti vaidya may recommend herbal supplements and suggest a particular diet. For chronic health problems, the vaidya will recommend specialized deep detox treatments & marma too for remarkable improvements. </p>

<p class="justify">After meeting briefly with the vaidya, you will have an opportunity to discuss your course of treatment as well as dietary and lifestyle recommendations at greater length with a qualified practitioner, who has trained with Vaidya Smita Naram. This simple yet profound process takes place in every Ayushakti Health Centre all over the world – in Europe, America, New Zealand and Australia – when you come for an Ayushakti Ayurved pulse consultation.</p>
      </div>


      <button class="button button-block button-balanced">
  Show Interest
</button>
      </div>
  </ion-content>
</ion-view>