/* Empty. Add your own CSS if you like */
/*primary color #35704D */
.bar.bar-balanced {
  border-color: #254d35 ;
  background-color: #35704d ;
  background-image: linear-gradient(0deg, transparent, transparent 50%, transparent 50%);
  color: #fff;
}  
.ayu-primary-c{
    color: #35704D !important;
}
.white{
	color: #fff !important;
}
.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}
ion-view > .scroll-content{
    background-color: #eee;
}
.height220{
        height: 220px !important;
}

.fs16{
    font-size: 16px !important;
}
.fs14{
    font-size: 14px !important;
}
/* Utilities */

.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
} 

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/side-menu-bg.jpg');
    background-size: 106%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}
/* CODE */

.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.popover {
    left: initial !important;
    right: 16px !important;
    top: 16px !important;
}
.custom-avatar{
	    width: 99px !important;
    height: 47px !important;
}
.home-bg{
  
}
.bg-css{
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.txt-center{
	text-align: center !important;
}
.block-wrapper{
	 /*   background-color: white;
    opacity: 0.9;
    margin: 1px;
    border-radius: 2px;*/
}
.icon-wrapper i{
    font-size: 40px;
    color: #35704D;
}
.title-wrapper{
	color: #35704D;
}
.container-padding{
	    margin-top: 60vh;
}
.circle-icon{
	padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #35704D;
    -webkit-box-shadow: 0px 0px 2px #35704D;
    box-shadow: 0px 0px 2px #35704D;
    margin-bottom: 5px;
}
.mb10{
	    margin-bottom: 10px;
}
.w100{
    width: 100% !important;
}
.justify{
    text-align: justify;
}
.button.button-balanced { 
    background-color: #35704D !important; 
}
.banner-wrapper img{
    max-height: 550px;
    width: 100%;
}
/* Start Videos page*/

.videos-left > img:first-child, .videos-left .item-image, .videos-left .item-content > img:first-child, .videos-left .item-content .item-image {
     border-radius: 0% !important;  
}
.videos-left > img:first-child, .videos-left .item-image, .videos-left .item-content > img:first-child, .videos-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 100px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}
.videos-left h2{
    font-size: 13px !important;
        overflow: visible;
    text-overflow: none;
    white-space: normal;
}
/* End Videos page*/

   .embed-responsive {
      position: relative;
      display: block;
      height: 0;
      padding: 0;
      overflow: hidden;
    }

    .embed-responsive.embed-responsive-16by9 {
      padding-bottom: 56.25%;
    }

    .embed-responsive-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
    .nav-section-home{
        margin-top: 10%;
    }
    .cover-img-wrap {
    margin-bottom: -5px;
}
.center-select-ddl{ 
      width: 95%;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 3px;
    margin: 4px 0px;
}
.title-wrapper h4{
    color: #444444;
    padding-left: 16px;
}
/* Searhc Bar package treatment*/
.custom-input-warpper{
    background: white;
    height: auto !important;
    width: 90% !important;
    padding: 0px;  
    height: 35px !important;
    margin: 0px 14px 4px 14px;
}
.section-title{
    color: #444444;

        margin: 0px 0px 4px -4px;
    padding: 0px;
}
/* Searhc Bar package treatment*/
.default-item .item{
    background-color: #fff !important;
}
.default-item .item-divider{
    background-color: #eee !important;
        height: 40px !important;
    line-height: 23px !important;
}
ion-footer-bar .item {
    border: none;
}
ion-footer-bar .item-icon-right{
        padding: 37px 0px 0px 0px;
}
.social-icon {
    right: 26px !important;
}
.no-border{
    border: none !important;
}
.image-wrapper {
    text-align: center;
}
.bullet li{
        list-style: initial;
        margin-top: 10px;
}
.sub-heading {
        font-size: 18px;
}
.img-grid {
    width: 50%;
    float: left;
}
.pt0 {
    padding-top: 0 !important;
}
.nav-bar-title {
   text-transform: uppercase !important;
}
.text-area {
        background: #eeeeee;
        height: 45px;
}
.mt10 {
    margin-top: 10px;
}
pre {
        font-family: inherit !important;
}